<?xml version='1.0'?>
<robot name="arm">
  <link
    name="arm">
    <inertial>
      <origin
        xyz="-1.3045E-18 -0.075 4.59227382683391E-18"
        rpy="0 0 0" />
      <mass
        value="0.31856" />
      <inertia
        ixx="0.000651131519931266"
        ixy="0"
        ixz="0"
        iyy="0.000107672433335014"
        iyz="3.32761725244138E-20"
        izz="0.000651131519931266" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://arm_desciption/meshes/arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://arm_desciption/meshes/arm.STL" />
      </geometry>
    </collision>
  </link>
</robot>